.navBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar {
  height: 30px;
  width: 75%;
  border-radius: 5px;
  position: fixed;
  left: auto;
  bottom: 10px;
  background-color: rgb(9, 12, 37);
}

@media (max-width: 500px) {
  .navBarContainer {
    display: none;
  }
}
