.navBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar {
  border-radius: 5px;
  position: fixed;
  left: auto;
  bottom: 10px;
  z-index: 1;
  padding: 7px 20px;
  background-color: rgba(65, 66, 75, 0.561);
}

.navBar:hover .listItem {
  color: rgb(23, 168, 200);
}
.navbarList {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.navbarList .listItem {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  color: rgb(0, 229, 255);
}

.navbarList .listItem:active {
  cursor: pointer;
  color: rgb(0, 233, 250);
}

.link {
  text-decoration: none;
}

.link:focus {
  text-decoration: none;
}
