.navBarContainer {
  width: 100%;
  --nav-bar-bg: rgb(0, 0, 0);
  display: flex;
  background-color: var(--nav-bar-bg);
  position: fixed;
  justify-content: center;
  bottom: 0px;
  left: auto;
}
.navBar {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: rgb(15, 15, 17);
  padding: 2px 10px;
}

.navbarList {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  list-style-type: none;
  color: lightblue;
  padding: 5px;
}
