.sectionsContainer {
  display: grid;
  grid-template-columns: 100vw 100vw 100vw;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  .sectionsContainer {
    scroll-behavior: auto;
    overflow: hidden;
  }
}
