.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 15px;
  justify-content: center;
  background: rgb(0, 0, 0);
  align-items: center;
  scroll-behavior: smooth;
  flex-direction: column;
  scroll-snap-align: center;
}

@keyframes shake {
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.projectsGrid {
  padding: 20px;
  margin-bottom: 45px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: max(90%, 500px);
  max-height: calc(100% - 20px);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

.projectName {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: calc(18px + 0.390625vw);
}

.gridItem {
  padding: 10px;
  max-width: 800px;
  display: flex;
  background-color: rgb(12, 12, 12);
  max-height: max-content;
  gap: 15px;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px black;
}

.gridItem:hover {
  animation: 1 1s ease shake reverse;
}
.header {
  font-size: calc(25px + 0.390625vw);
  color: white;
  padding-top: 20px;
}

.projectImage {
  width: 100%;
  border-radius: 25px;
}

.projectImage:hover {
  cursor: pointer;
}

.projectOverlay {
  position: relative;
  width: 80%;
  font-size: calc(16px + 0.390625vw);
  flex-direction: column;
  margin: 0 auto;
  border-radius: 25px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px black;
  height: 100%;
  padding: 20px;
  left: 0;
  background-color: #16181d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  animation: rotation-animation ease-in-out 2s 1;
}
@keyframes rotation-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ghIcon {
  height: 50px;
}

.ghIcon:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .projectsGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: max(80%, 300px);
    max-height: 100vh;
  }
  .projects {
    justify-content: flex-start;
  }
}
